# Core Deep Learning
torch==2.4.0
torchvision==0.19.0
pytorch-lightning==2.0.0

# Data handling
numpy>=1.23.0
pandas>=1.5.0
scikit-learn>=1.2.0
pillow>=9.5.0
opencv-python>=4.7.0
albumentations>=1.3.0
pycocotools>=2.0.6
imageio>=2.25.0

# Utilities
pyyaml>=6.0
tqdm>=4.65.0
tensorboard>=2.12.0
wandb>=0.14.0

# Deployment
onnx>=1.14.0
onnxruntime>=1.16.0

# Image/GIS tools
rasterio>=1.3.0
shapely>=2.0.0

# Testing & Visualization
matplotlib>=3.7.0
seaborn>=0.12.0
flask>=2.3.0